
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">MENÜLER</li>
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i> <span class="nav-text"> Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/AdminDashboard/Index/" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i> <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i> <span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/RoomAdmin/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i> <span class="nav-text"> Odalar</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i> <span class="nav-text"> Misafirler</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-user-female menu-icon"></i> <span class="nav-text"> Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text"> Referanslar</span>
                </a>
            </li>

            <li>
                <a href="/ServiceAdmin/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i> <span class="nav-text"> Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z" />
                    </svg> <span class="nav-text"> Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/ContactAdmin/Inbox/" aria-expanded="false">
                    <i class="icon-pencil menu-icon"></i> <span class="nav-text"> Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminImageFile/Index/" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i> <span class="nav-text"> Resim İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminFile/Index/" aria-expanded="false">
                    <i class="icon-film menu-icon"></i> <span class="nav-text"> Dosya İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/Index/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i> <span class="nav-text"> Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i> <span class="nav-text"> Otel Lokasyonları</span>
                </a>
            </li>

            <li>
                <a href="/Role/Index/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i> <span class="nav-text"> Rol İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/RoleAssign/Index/" aria-expanded="false">
                    <i class="icon-rocket menu-icon"></i> <span class="nav-text"> Rol Atamaları</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i> <span class="nav-text"> Ayarlar</span>
                </a>
            </li>

            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-logout menu-icon"></i> <span class="nav-text"> Çıkış Yap</span>
                </a>
            </li>

        </ul>
    </div>
</div>