
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>Rol Listesi</h4>
        </div>
        <div class="table-responsive">
            <form method="post" action="/Role/AddRole">
                <input type="text" name="RoleName" placeholder="Rol Adı" class="form-control mb-3" required />
                <button type="submit" class="btn btn-primary">Rol Kaydet</button>
            </form>
        </div>
    </div>
</div>

