
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post" enctype="multipart/form-data">

    <input type="file" name="file" class="form-control mb-3" />
    <button type="submit" class="btn btn-primary">Dosyayı Yükle</button>

</form>

