
@model List<ExchangeViewModel.Exchange_Rates>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-striped">

    <tr>
        <th>Para Birimi</th>
        <th>Fiyat</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.currency</td>
            <td>@item.exchange_rate_buy</td>
        </tr>
    }

</table>
