
@{
    Layout = null;
}

<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="social-graph-wrapper widget-googleplus">
            <span class="s-icon"><i class="fa fa-instagram"></i></span>
        </div>
        <div class="row">
            <div class="col-6 border-right">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                    <h4 class="m-1">@ViewBag.followers</h4>
                    <p class="m-0">Takipçiler</p>
                </div>
            </div>
            <div class="col-6">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                    <h4 class="m-1">@ViewBag.following</h4>
                    <p class="m-0">Takip Edilenler</p>
                </div>
            </div>
        </div>
    </div>
</div>