
@{
    Layout = null;
}

<div class="mail-list mt-4">

    <a href="/ContactAdmin/Inbox/" class="list-group-item border-0 p-r-0">
        <i class="fa fa-inbox font-18 align-middle mr-2"></i>
        Gelen Kutusu
        <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.v</span>
    </a>

    <a href="/ContactAdmin/Sendbox/" class="list-group-item border-0 p-r-0">
        <i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Giden Kutusu
        <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.v2</span>
    </a>

    <a href="#" class="list-group-item border-0 p-r-0">
        <i class="fa fa-star-o font-18 align-middle mr-2"></i>Önemli
        <span class="badge badge-danger badge-sm float-right m-t-5">50</span>
    </a>

    <a href="#" class="list-group-item border-0 p-r-0"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Taslaklar</a>

    <a href="#" class="list-group-item border-0 p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i>Çöp Kutusu</a>
</div>