
@model List<ResultServiceDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>Hizmetler Listesi</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Hizmet Başlığı</th>
                        <th>Hizmet İçerik</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.ServiceID</th>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td><a href="/ServiceAdmin/DeleteService/@item.ServiceID" class="btn btn-rounded btn-outline-danger">Sil</a></td>
                            <td><a href="/ServiceAdmin/UpdateService/@item.ServiceID" class="btn btn-rounded btn-outline-success">Güncelle</a></td>

                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="/ServiceAdmin/AddService/" class="btn btn-rounded btn-outline-info">Yeni Hizmet Ekle</a>