
@model List<StaffListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>Personel Listesi</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ad</th>
                        <th>Ünvan</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                        <th>Detaylar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th>@item.StaffID</th>
                        <td>@item.Name</td>
                        <td>@item.Title</td>
                        <td><a href="/Staff/DeleteStaff/@item.StaffID" class="btn btn-rounded btn-outline-danger">Sil</a></td>
                        <td><a href="/Staff/GetStaff/@item.StaffID" class="btn btn-rounded btn-outline-success">Güncelle</a></td>
                        <td><a href="#" class="btn btn-rounded btn-outline-dark">Detaylar</a></td>
                        
                    </tr>
                    }
                    
                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="/Staff/AddStaff/" class="btn btn-rounded btn-outline-info">Yeni Personel Girişi</a>